@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;800;900;1000&display=swap');

.welcome-container {
    display: flex;
    align-items: center;
    padding: 60px;
    gap: 60px;
    width: 1080px;
    height: 435px;
    background: rgba(245, 247, 255, 0.85);
    border-radius: 10px;

    .img {
        width: 450px;
        height: 315px;
        background: url('../../assets/images/welcome.png');
        border-radius: 10px;
        flex: none;
        order: 0;
        flex-grow: 1;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }
}